bcrypt==3.1.7
Flask==1.1.1
Flask-Admin==1.5.3
Flask-Bootstrap==3.3.7.1
Flask-FlatPages==0.7.1
Flask-Markdown==0.3
Flask-Migrate==2.5.2
Flask-Moment==0.9.0
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4
ldap3==2.6.1
Markdown==3.1.1
pytz>=2018.7
SQLAlchemy==1.3.8
pdfkit==0.6.1
