<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Full Glossary</title>
    <base href="http://localhost/">
</head>
<body>
    <h1>Overview</h1>
    This report consists of the categories
    {% for category in categories %}
        {% if loop.index == loop.length and loop.length != 1 %}and {% endif %}
        <strong>{{ category.name }}</strong>{% if loop.index < loop.length - 1 %}, {% endif %}{{ "." if loop.last }}
    {% endfor %}
    It was printed by {% if current_user.name %}{{ current_user.name }}{% else %}{{ current_user.email }}{% endif %}.

    {% for term in terms %}
    <h1>{{ term.name }}</h1>
    <h2 class="short-desc">{{ term.short_description }}</h2>

    {{ term.long_description | markdown}}

    {%- if term.related_terms %}
        <h2>Related Terms</h2>
        {%- for rt in term.related_terms %}
            <p>{{ rt.name }}</p>
        {%- endfor %}
    {% endif %}

    {% if term.links.all() | length > 0 %}
        <h2>Links</h2>
        {% for link in term.links.all() %}
            {{ link.text }}<br/>
            <div class="link-address">{{ link.address }}</div>{% if not loop.last %}<br/>{% endif %}
        {% endfor %}
        <p/>
    {% endif %}

    {% if term.documents %}
        <h2>Documents</h2>
        {% for document in term.documents %}
            {{ document.name }}<br/>
            <div class="link-address">{{ document.path }}</div>{% if not loop.last %}<br/>{% endif %}
        {% endfor %}
        <p/>
    {% endif %}

    {% for rule in term.rules %}
        <hr class="rule-hr" />
        <h2>Rule: {{ rule.name }}</h2>
        {{ rule.description|markdown }}
        <h3>Notes</h3>
        {{ rule.notes|markdown }}
        {% for note in rule.comments %}
            <hr class="note-hr" />
            <h3>Implemented Logic</h3>
            {{ note.note|markdown }}
        {% endfor %}
        {% if loop.last %}<hr class="rule-hr" />{% endif %}
    {% endfor %}    
    
    {% if term.columns %}
        <h2>Assets</h2>
        <table class="asset-table">
            {% for a in term.columns %}
            <tr>
                <td>{{ a.table.location.name }}</td>
                <td>{{ a.table.name }}</td>
                <td>{{ a.name }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <p/>
    {% endfor %}

</body>
</html>
