{% extends "layout.html" %}

{% block content %}
<div class="page-header">
    <h1>Print Glossary Content</h1>
</div>

<form class="form-horizontal" action="{{ url_for('main.do_print') }}" method="post">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <p class="lead">Generate PDF of glossary content.<p>
    <div class="alert alert-warning">
        <strong>Warning!</strong> It may take some time to generate the full glossary PDF document. This operation will currently block 
        other users of the glossary.
    </div>        
    <p class="lead">Select a category to print</p>
    {% for category in categories %}
    <div class="checkbox">
        <label class="checkbox-inline col-sm-2"><input type="checkbox" name="category" id="category{{ category.id }}" value="{{ category.id }}">{{ category.name }}</label>
    </div>
    {% endfor %}
    <hr/>
    <button type="submit" class="btn btn-primary btn-sm">Generate PDF</button>
</form>
{% endblock %}
