{% extends "layout.html" %}

{% block content %}
<div class="page-header">
    <h1>Backup & Restore</h1>
</div>

<h2>Backup Business Glossary</h2>
<form action="{{ url_for('main.do_backup') }}" method="post">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <p class="lead">Export the Business Glossary data to a YAML file.<p>
    <button type="submit" class="btn btn-primary btn-sm">Backup</button>
</form>

<h2>Restore Business Glossary</h2>
<p class="lead">To restore or import glossary data from a YAML format you should use the command line interface.</p>
<pre>
<code>
python manage.py load_data <path_to_yaml_file>
</code>
</pre>
{% endblock %}
