{% extends "layout.html" %}

{% block content %}
<div class="page-header">
    <h1>Backup & Restore</h1>
</div>

<h2 class="admin-heading">Backup Business Glossary</h2>
<form action="{{ url_for('main.do_backup') }}" method="post">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <p class="lead">Export the Business Glossary data to a YAML file.<p>
    <button type="submit" class="btn btn-default">Backup</button>
</form>

<h2 class="admin-heading">Export Column Associations</h2>
<form action="{{ url_for('main.do_column_association_export') }}" method="post">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <p class="lead">Export all term to column associations to CSV file.<p>
    <button type="submit" class="btn btn-default">Export</button>
</form>

<h2 class="admin-heading">Restore Business Glossary</h2>
<p class="lead">To restore or import glossary data from a YAML format you should use the command line interface.</p>
<pre>
<code>
flask data load &ltfilename&gt
</code>
</pre>
{% endblock %}
