{% set active_page = "admin" %}
{% extends "layout.html" %}
{% block content %}
<div class="page-header">
    <h1>Users</h1>
</div>

<p class="lead"/>

<div class="row">
    <div class="col-md-2"><span class="text-large">Name</span></div>
    <div class="col-md-10"><span class="text-large">{{ user.name }}</span></div>
    <div class="col-md-2"><span class="text-large">Email Address</span></div>
    <div class="col-md-10"><span class="text-large">{{ user.email }}</span></div>
    <div class="col-md-2"><span class="text-large">Confirmed At</span></div>
    <div class="col-md-10"><span class="text-large">{{ user.confirmed_at }}</span></div>
    <div class="col-md-2"><span class="text-large">Last Login At</span></div>
    <div class="col-md-10"><span class="text-large">{{ user.last_login_at }}</span></div>
    <div class="col-md-2"><span class="text-large">Last Login IP</span></div>
    <div class="col-md-10"><span class="text-large">{{ user.last_login_ip }}</span></div>
    <div class="col-md-2"><span class="text-large">Current Login At</span></div>
    <div class="col-md-10"><span class="text-large">{{ user.current_login_at }}</span></div>
    <div class="col-md-2"><span class="text-large">Current Login IP</span></div>
    <div class="col-md-10"><span class="text-large">{{ user.current_login_ip }}</span></div>
    <div class="col-md-2"><span class="text-large">Login Count</span></div>
    <div class="col-md-10"><span class="text-large">{{ user.login_count }}</span></div>
    <div class="col-md-2"><span class="text-large">Roles</span></div>
    <div class="col-md-10">
        {% for role in user.roles %}
            <span class="label label-default">{{ role.name }}</span>
        {% endfor %}
    </div>
</div>
<div class="row">
  <br/>
  <a class='btn btn-primary' href="{{ url_for('main.show_users') }}"><span class="glyphicon glyphicon-menu-left"></span>Back to Users</a>
</div>
{% endblock %}
