@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    background-color: #ffffff;
    /*
    padding-top: 50px; Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.page-header h1 {
  margin-bottom: 0px;
}

.background {
  background-color: #EEE;
}

.background2 {
  background-color: #EED;
  border-radius: 25px;
}

.badge {
    font-weight: 300;
    font-size: 10px;
}

.text-large {
  font-size: 130%;
}

.admin-heading {
    background-color: #e4e5e5;
    font-size: 20px;
    color: #383838;
    padding: 10px 5px;
    border-radius: 2px;
}

/*
.container {
    padding-bottom: 10px;
}
*/
.dashboard-page {
    font-size: 11px;
}

.term-description {
    line-height: 1.5;
}

h1 { font-size: 24px; font-weight: normal}

h2 { font-size: 22px; }

.label { font-weight: 500; }

.label a, .badge a {
    color: white;
}

.navbar-inverse {
    background-color: #2196f3;
    border-color: transparent
}
.navbar-inverse .navbar-brand {
    color: #b2dbfb
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent
}
.navbar-inverse .navbar-text {
    color: #bbbbbb
}
.navbar-inverse .navbar-nav>li>a {
    color: #b2dbfb
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: transparent
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #0c7cd5
}
.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:hover,
.navbar-inverse .navbar-nav>.disabled>a:focus {
    color: #444444;
    background-color: transparent
}
.navbar-inverse .navbar-toggle {
    border-color: transparent
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgba(0, 0, 0, 0.5)
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #0c84e4
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #0c7cd5;
    color: #ffffff
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #b2dbfb
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #ffffff;
        background-color: transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #ffffff;
        background-color: #0c7cd5
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #444444;
        background-color: transparent
    }
}
.navbar-inverse .navbar-link {
    color: #b2dbfb
}
.navbar-inverse .navbar-link:hover {
    color: #ffffff
}
.navbar-inverse .btn-link {
    color: #b2dbfb
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
    color: #ffffff
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
    color: #444444
}

/* Increase the spacing for the term short description */

.term-description {
    line-height: 1.5;
}

/* Circular buttons */

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin: 0 auto;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.glyphicon-ring {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  display: inline-table;
  text-align: center;
  height:60px;
  font-size: 20px;
  line-height: 20px
}

/**CSS FOR ICON WITH NO BACKGROUND COLOR**/

.glyphicon-ring .glyphicon-bordered {
  font-size: 20px;
  vertical-align: middle;
  margin: 0 auto;
  display: table-cell;
}

.glyphicon-white {
  background: white;
  color: black;
    margin: 0 auto;
  border: 4px solid black;
}

.glyphicon-lg {
    font-size: 20px;
    color: grey;
}

.glyphicon-grey {
    color: grey;
}

.glyphicon-large {
    min-height: 260px;
    line-height: 260px;
    font-size: 35px;
    width: 1em;
    display: block;
    margin: -0.5em auto 0px;

}
.glyph-Column {
    border: 1px solid grey;
}

/* Chevrons on the accordian panel title */

.panel-heading .accordion-toggle:after {
    /* Symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* Essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;       /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* Symbol for "collapsed" panels */
    content: "\e080";    /* Adjust as needed, taken from bootstrap.css */
}

/* For the sticky footer */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px; */
  background-color: #f5f5f5;
}

.footer .container p {
    margin: 10px 0px 10px 0px;
}

.lead {
    margin-top: 20px;
}

.abbreviation {
    font-size: 14pt;
    font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#browsebutton {
    background-color: white;
}

#my-file-selector {
    display: none;
}

.table {
    margin-bottom: 5px;
}

.actions {
    white-space: nowrap;
    width: 1px;
    color: grey;
}

.actions .fa-lg {
    font-size:16px;
}

.actions a {
    color: #5cb85c;
}

.actions-success a {
    color: #5cb85c;
}

.actions-danger a {
    color: #d9534f
}

.btn-circ {
    border-radius: 50% !important
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

/********************************************************************
** Rule Style                                                      **
********************************************************************/

.term-page h5 {
    color: #1b75bc;
}

/********************************************************************
** Style tables                                                    **
********************************************************************/

.wiki-page table, .wiki-page td, .wiki-page th,
.term-page table, .term-page td, .term-page th {
    border: 1px solid #ddd;
}

.table-no-width table {
    border-collapse: collapse;
}

.wiki-page table,
.term-page table {
    border-collapse: collapse;
    width: 100%;
}

.wiki-page th, .wiki-page td,
.term-page th, .term-page td {
    padding: 6px;
}

.table-no-width table, .table-no-width td, .table-no-width th {
    border: 1px solid #ddd;
}

.table-no-width table {
    border-collapse: collapse;
}

.table-no-width th, .table-no-width td {
    padding: 6px;
}

/********************************************************************
** Style wiki pages                                                **
********************************************************************/

.wiki-page body, .wiki-page p {
    font-size: 14px;
}

.wiki-page pre {
    border-radius: 4px;
    background-color: #eff0f1;
    color: #393318;
}

/********************************************************************
** Change the font for code.                                       **
********************************************************************/

code, kbd, pre, samp {
    font-family: Consolas, "Courier New", monospace
}

.simplemde-fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
}