{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" rel="stylesheet">
{% endblock head %}  
{% block title %}
Related Terms
{% endblock %}
{% block content %}
<div class="page-header">
    <div class='btn-toolbar pull-right'>
        <a href="javascript:{}" onclick="document.getElementById('asset_form').submit(); return false;" class="btn btn-sm btn-success" role="button">
            <i class="fa fa-check"></i>
        </a>
        <a href="{{ url_for('main.show_term', selected_term=term.id) }}" class="btn btn-sm btn-danger" role="button"><i class="fa fa-times"></i></a>
    </div>
    <h1>Related Terms</h1>
</div>

<div id="treeview3"></div>

<div id="treeview4"></div>

{% endblock %}
{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	var treeData;

	$.ajax({
        type: "GET",
        url: "{{ url_for('term_bp.list_assets') }}",
        dataType: "json",
        success: function(response)
        {
            initTree(response)
        }
	});

	function initTree(treeData) {
		$('#treeview4').treeview({
            expandIcon: 'glyphicon glyphicon-chevron-right',
            collapseIcon: 'glyphicon glyphicon-chevron-down',            
            data: treeData
        });
	}
});


$(function() {

    var defaultData = [
        {
        text: 'Parent 1',
        href: '#parent1',
        tags: ['4'],
        nodes: [
            {
            text: 'Child 1',
            href: '#child1',
            tags: ['2'],
            nodes: [
                {
                text: 'Grandchild 1',
                href: '#grandchild1',
                tags: ['0']
                },
                {
                text: 'Grandchild 2',
                href: '#grandchild2',
                tags: ['0']
                }
            ]
            },
            {
            text: 'Child 2',
            href: '#child2',
            tags: ['0']
            }
        ]
        },
        {
        text: 'Parent 2',
        href: '#parent2',
        tags: ['0']
        },
        {
        text: 'Parent 3',
        href: '#parent3',
            tags: ['0']
        },
        {
        text: 'Parent 4',
        href: '#parent4',
        tags: ['0']
        },
        {
        text: 'Parent 5',
        href: '#parent5'  ,
        tags: ['0']
        }
    ];

    $('#treeview3').treeview({
        levels: 99,
        data: defaultData
    });

/*    function getTree() {
        $.ajax({
                type: 'GET',
                url: "{{ url_for('term_bp.list_assets') }}",
                dataType: "json",
            })
            .done(function (response) {
                return response;
            })
            .fail(function (response) {
                console.log(response);
            });
    }*/

    //$("#treeview4").treeview({data: getTree()})

});


</script>
{% endblock footer %}
