{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<link href="/admin/static/vendor/select2/select2.css?v=3.5.2" rel="stylesheet">
<link href="/admin/static/vendor/select2/select2-bootstrap3.css?v=1.4.6" rel="stylesheet">
<link href="/admin/static/vendor/bootstrap-daterangepicker/daterangepicker-bs3.css?v=1.3.22" rel="stylesheet">
<link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
{% endblock head %}  
{% block title %}
{{ action }} Term
{% endblock %}
{% block content %}
<div class="page-header">
    <div class='btn-toolbar pull-right'>
        <a href="javascript:{}" onclick="document.getElementById('term_form').submit(); return false;" class="btn btn-sm btn-success" role="button">
            <i class="fas fa-check"></i>
        </a>
        {% if action == "Add"  %}
        <a href="{{ url_for('main.glossary') }}" class="btn btn-sm btn-danger" role="button">        
        {% else %}
        <a href="{{ url_for('main.show_term', selected_term=term.id) }}" class="btn btn-sm btn-danger" role="button">
        {% endif %}
            <i class="fas fa-times"></i></a>
        </a>              
    </div>
    <h1>{{ action }} Term</h1>
</div>
<div class="form-area">
    <form method="post" class="form" role="form" id="term_form">
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.short_description, rows=3) }}
        {{ wtf.form_field(form.long_description, rows=12) }}
        <!--
        <div class="form-group">
            <label class="control-label " for="name">Term</label>
            {{ form.name(class_="form-control") }}
        </div>
        <div class="form-group">
            <label class="control-label" for="short_description">Short Description</label>
            {{ form.short_description(class_="form-control", rows=3, placeholder="Short Description") }}
        </div>
        <div class="form-group">
            <label class="control-label" for="long_description">Long Description</label>
            {{ form.long_description(class_="form-control", rows=12) }}
        </div>
        -->
        <hr/>
        {{ wtf.form_field(form.abbreviation) }}
        {{ wtf.form_field(form.categories) }}
        {{ wtf.form_field(form.owner) }}
        {{ wtf.form_field(form.steward) }}
        {{ wtf.form_field(form.status) }}
        <!--
        <div class="form-group required">
            <label class="control-label" for="abbreviation">Abbreviation</label>
            {{ form.abbreviation(class_="form-control") }}
        </div>
        <div class="form-group required">
            <label class="control-label" for="categories">Categories</label>
            {{ form.categories(class_="form-control", id="categories", **{'data-role': "select2"}) }}
        </div>
        <div class="form-group required">
            <label class="control-label" for="owner">Owner</label>
            {{ form.owner(class_="form-control", **{'data-role': "select2"}) }}
        </div>
        <div class="form-group required">
            <label class="control-label" for="steward">Steward</label>
            {{ form.steward(class_="form-control", **{'data-role': "select2"}) }}
        </div>
        <div class="form-group required">
            <label class="control-label" for="status">Status</label>
            {{ form.status(class_="form-control", **{'data-role': "select2"}) }}
        </div>
        -->
        {{ form.csrf_token }}        
    </form>

    <hr />
</div>
{% endblock %}
{% block footer %}
<script src="/admin/static/vendor/select2/select2.min.js?v=3.5.2" type="text/javascript"></script>
<script src="/admin/static/admin/js/form.js?v=1.0.1"></script>
<script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
<script>
var mde = new SimpleMDE({ 
    element: $("#long_description")[0],
    status: false
});
/*
mde.codemirror.on('refresh', function() {
    if (mde.isFullscreenActive()) {
        $('body').addClass('simplemde-fullscreen');
    }        
    else {
        $('body').removeClass('simplemde-fullscreen');
    }
});
*/
</script>
{% endblock footer %}
