{% extends "layout.html" %}
{% block head %}
<script type="text/javascript">
$(document).ready(function() {
    $('[id^=mdtable_]').each(function() {
        var innerElements = document.getElementById(this.id).getElementsByTagName("table");
        for (var j = 0; j < innerElements.length; j++) {
            innerElements[j].className = "table table-bordered";
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>{{ term.name }}</h1>
</div>

{% set active_page = "term" %}
{% include "_term_tabs.html" %}

<p class="lead"/>

<div class="panel panel-default">
    <div class="panel-heading">Term Details</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Name</h4>
                        <p class="list-group-item-text">{{ term.name }}</p>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Short Description</h4>
                        <p class="list-group-item-text">{{ term.short_description }}</p>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <div id="mdtable_1">
                            <h4 class="list-group-item-heading">Long Description</h4>
                            <p class="list-group-item-text">{{ term.long_description|markdown }}</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-md-6">
                <div class="list-group">
                    {% if term.related_terms %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Related Terms</h4>
                        <p class="list-group-item-text">
                            {% for rt in term.related_terms %}
                            <a href="{{ url_for('main.show_term', selected_term=rt.id) }}">{{ rt.name }}</a>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    {% endif %}
                    {% if term.links %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Links</h4>
                        {% for c in term.links.all() %}
                        <p class="list-group-item-text"><a href="{{ c.address }}">{{ c.text }}</a></p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if term.abbreviation %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Abbreviation</h4>
                        <p class="list-group-item-text">{{ term.abbreviation }}</p>
                    </div>
                    {% endif %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Categories</h4>
                        <p class="list-group-item-text">
                            {% for c in term.categories %}
                            <span class="label label-default">{{ c.name }}</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Status</h4>
                        {% if term.status.status == 'Approved' %}
                        <p class="list-group-item-text"><span class="label label-success">{{ term.status.status }}</span></p>
                        {% elif term.status.status == 'Draft' %}
                        <p class="list-group-item-text"><span class="label label-warning">{{ term.status.status }}</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">              
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Owner</h4>
                        <p class="list-group-item-text">{{ term.steward.name }}</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Steward</h4>
                        <p class="list-group-item-text">{{ term.steward.name }}</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Created On</h4>
                        <p class="list-group-item-text">{{ moment(term.created_on).calendar() }}</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">Last Updated</h4>
                        <p class="list-group-item-text">{{ moment(term.updated_on).calendar() }}</p>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- panel body -->
</div><!-- panel -->
{% endblock %}
