{% extends "layout.html" %}

{% block content %}

<div class="page-header">
    <h1>{{ term.name }}</h1>
</div>

{% set active_page = "assets" %}
{% include "_term_tabs.html" %}

<p class="lead"/>

<table class="table list-group-item-text">
    <thead>
        <tr>
            <th>Location</th>
            <th>Table</th>
            <th>Column</th>
        </tr>
    </thead>
    <tbody>
        {% for a in assets %}
        <tr>
            <td><a href="{{ url_for('main.show_location_details', selected_location=a.table.location.id) }}">{{ a.table.location.name }}</a></td>
            <td><a href="{{ url_for('main.show_table_details', selected_table=a.table.id) }}">{{ a.table.name }}</a></td>
            <td><a href="{{ url_for('main.show_table_columns', selected_table=a.table.id) }}">{{ a.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
