{% extends "layout.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" />
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable({
        "scrollY":        "600px",
        "scrollCollapse": true,
        "paging":         false,    
		"columnDefs": [
			{ "searchable": false, "targets": [ 2 ] },
			{ "orderable": false, "targets": [ 2, 3 ] },
		]
	});
});
</script>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Terms</h1>
</div>

<div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
	<table id="example" class="table table-striped">
		<thead>
			<tr>
				<th class="col-md-2">Term</th>
				<th class="col-md-7">Term Description</th>
				<th class="col-md-2">Business Owner</th>
				<th class="col-md-1">Category</th>
			</tr>
		</thead>
		<tbody>
			{% for term in glossary %}
			<tr>
				<td><a href="{{ url_for('main.show_term', selected_term=term.id) }}">{{ term.term }}</a></td>
				<td>{{ term.description }}</td>
				<td>{{ term.owner }}</td>
				<td>
					{% for c in term.categories %}
						<h5><span class="label label-default">{{ c.name.lower() }}</span></h5>
					{% endfor %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
