{% set active_page = "glossary" %}
{% extends "layout.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" />
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable({
        "lengthMenu": [[15, 30, 50, -1], [15, 30, 50, "All"]]
    });
});
</script>
{% endblock %}

{% block content %}
<div class="page-header">
    {% if current_user.is_active %}
        <div class='btn-toolbar pull-right'>
            <a href="{{ url_for('term.add_term') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></a>
        </div>
    {% endif %}
    <h1>Terms</h1>
</div>

<div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-2">Term</th>
                <th class="col-md-7">Term Description</th>
                <th>Business Owner</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for term in terms %}
            <tr>
                <td><a href="{{ url_for('main.show_term', selected_term=term.id) }}">{{ term.name }}</a></td>
                <td>{{ term.short_description }}</td>
                <td>{{ term.owner }}</td>
                <td>
                    {% for c in term.categories %}
                    <span class="label label-default"><a href="{{ url_for('main.show_terms', selected_category=c.id) }}">{{ c.name }}</a></span>
                    {% endfor %}
                </td>
                <td>{% if term.columns|length > 0 %}<a href="{{ url_for('main.show_assets', selected_term=term.id) }}" data-toggle="tooltip" title="{{ term.columns|length }} assets linked">A</a>{% endif %}
                    {% if term.columns|length > 0 and term.rules|length > 0 %}<br/>{% endif %}
                    {% if term.rules|length > 0 %}<a href="{{ url_for('main.show_rules', selected_term=term.id) }}" data-toggle="tooltip" title="{{ term.rules|length }} rules linked">R</a>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
