{% set active_page = "rules" %}
{% extends "layout.html" %}
{% block head %}
<script type="text/javascript">
$(document).ready(function() {
    $('[id^=mdtable_]').each(function() {
        var innerElements = document.getElementById(this.id).getElementsByTagName("table");
        for (var j = 0; j < innerElements.length; j++) {
            innerElements[j].className = "table table-bordered";
        }
    });
});
</script>
{% endblock %}
{% block content %}
<div class="page-header">
    <span class="pull-right abbreviation">{{ rule.identifier }}</span>
    <h1>Rule: {{ rule.name }}</h1>
</div>

<p class="lead" />
{{ rule.description|markdown }}
<p class="lead" />

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fas fa-link"></i>&nbsp;&nbsp;Related Terms</h4>
        </div>
        <div class="panel-body">
            {% for term in rule.terms %}
                <a href="{{ url_for('main.show_term', selected_term=term.id) }}">{{ term.name }}</a>
            {% endfor %}
        </div><!-- panel body -->
    </div><!-- panel -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fas fa-comment-alt"></i></span>&nbsp;&nbsp;Notes</h4>
        </div>
        <div class="panel-body">
            {% if rule.notes %}{{ rule.notes|markdown }}{% endif %}
        </div><!-- panel body -->
    </div><!-- panel -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fas fa-code" aria-hidden="true"></i>&nbsp;&nbsp;Implemented Logic</h4>
        </div>
        <div class="panel-body">
            {% for note in rule.comments %}
                <p class="list-group-item-text">{{ note.note|markdown }}</p>
                <!--<small>Created: {{ moment(note.created_on).calendar() }}, Updated: {{ moment(note.updated_on).calendar() }}</small>-->
                <hr />
            {% endfor %}
        </div><!-- panel body -->
    </div><!-- panel -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fas fa-paperclip"></i>
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseDocuments">
                    &nbsp;&nbsp;Documents <small>{{ rule.documents|length }}</small>
                </a>
            </h4>
        </div>
        <div id="collapseDocuments" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th class="actions">
                                {% if current_user.is_active %}
                                <a href="{{ url_for('term_bp.upload_document', term_id=rule.id) }}"><i class="fas fa-lg fa-plus-circle" aria-hidden="true"></i></a>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for document in rule.documents %}
                        <tr>
                            <td><a href="/static/files/{{ document.path }}">{{ document.name }}</a></td>
                            <td>{{ document.description }}</td>
                            <td>
                                {% for t in document.types %}
                                    <span class="label label-default">{{ t.type }}</span>
                                {% endfor %}
                            </td>
                            <td class="actions-danger" data-th="">
                                {% if current_user.is_active %}
                                <a href="#" data-href="{{ url_for('term_bp.delete_document', document_id=document.id) }}" data-toggle="modal" data-target="#confirmDelete" data-title="Delete Document" data-message="Are you sure you want to delete this document?">
                                    <i class="fas fa-lg fa-minus-circle" aria-hidden="true"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- panel-group -->

<div>
    <small>Created: {{ moment(rule.created_on).calendar() }}, Updated: {{ moment(rule.updated_on).calendar() }}</small>
</div>
{% endblock %}
