{% extends "layout.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" />

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css" />

<script type="text/javascript">
$(document).ready(function() {
    var table = $('#abbrev').DataTable( {
        "scrollY":        "600px",
        "scrollCollapse": true,
        "paging":         false,        
        "columnDefs": [
            { "searchable": false, "targets": [ 0 ] },
            { "orderable": false, "targets": [ 1, 2 ] },
        ],
        buttons: [
            {
                extend: 'pdf',
                pageSize: 'A4',
                exportOptions: {
                    columns: [0, 1]
                },
                customize : function(doc) {
                    doc.content[1].table.widths = [ '15%', '85%'];
                    doc.styles.tableHeader = { alignment: "left", bold: true, fillColor: '#1b75bc', color: 'white', margin: [5, 0, 5, 0] };
                    doc.styles.tableBodyOdd = { margin: [5, 0, 5, 0] };
                    doc.styles.tableBodyEven = { margin: [5, 0, 5, 0], fillColor: '#f3f3f3' };
                }
            }
        ]
    });
    table.buttons().container()
        .appendTo('#abbrev_wrapper');
} );

</script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Abbreviations</h1>
</div>

<div id="abbrev_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <table id="abbrev" class="table table-striped" width="100%">
        <thead>
            <tr>
                <th class="col-md-2">Abbreviation</th>
                <th class="col-md-7">Term</th>
                <th class="col-md-3">Category</th>
            </tr>
        </thead>
        <tbody>
            {% for term in glossary %}
            <tr>
                <td>{{ term.abbreviation }}</td>
                <td><a href="{{ url_for('main.show_term', selected_term=term.id) }}">{{ term.term }}</a></td>
                <td>
                    {% for c in term.categories %}
                        <span class="label label-default">{{ c.name.lower() }}</span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
