{% extends "layout.html" %}

{% block content %}

<div class="page-header">
	<h1>{{ term.term }}</h1>
</div>

<ul class="nav nav-tabs">
	<li class="active"><a href="{{ url_for('main.show_term', selected_term=term.id) }}">Term</a></li>
	<li><a href="{{ url_for('main.show_documents', selected_term=term.id) }}">Related Documents</a></li>
	<li><a href="{{ url_for('main.show_assets', selected_term=term.id) }}">Related Assets</a></li>
	<li><a href="{{ url_for('main.show_rules', selected_term=term.id) }}">Related Rules</a></li>
</ul>

<p class="lead"/>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Term Details</h3>
	</div>
	<div class="panel-body">
	  <div class="row">
		<div class="col-md-12">
		  <div class="list-group">
			<div class="list-group-item">
			  <h4 class="list-group-item-heading">Term</h4>
			  <p class="list-group-item-text">{{ term.term }}</p>
			</div>
		  </div>
		</div>
	  </div><!-- row -->
	  <div class="row">
		<div class="col-md-12">
		  <div class="list-group">
			<div class="list-group-item">
			  <h4 class="list-group-item-heading">Description</h4>
			  <p class="list-group-item-text">{{ term.description|markdown }}</p>
			</div>
		  </div>
		</div>
	  </div><!-- row -->
	  <div class="row">
		<div class="col-md-12">
		  <div class="list-group">
			<div class="list-group-item">
			  <h4 class="list-group-item-heading">Abbreviation</h4>
			  <p class="list-group-item-text">{{ term.abbreviation }}</p>
			</div>
		  </div>
		</div>
	  </div><!-- row -->

	  <div class="row">
		<div class="col-md-6">
		  <div class="list-group">
			<div class="list-group-item">
			  <h4 class="list-group-item-heading">Owner</h4>
			  <p class="list-group-item-text">{{ term.owner.name }}</p>
			</div>
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="list-group">
			<div class="list-group-item">
			  <h4 class="list-group-item-heading">Steward</h4>
			  <p class="list-group-item-text">{{ term.steward.name }}</p>
			</div>
		  </div>
		</div>
	  </div><!-- row -->
	  <div class="row">
		<div class="col-md-12">
		  <div class="list-group">
			<div class="list-group-item">
			  <h4 class="list-group-item-heading">Status</h4>
			  {% if term.status.status == 'Approved' %}
				<p class="list-group-item-text"><span class="label label-success">{{ term.status.status }}</span></p>
			  {% elif term.status.status == 'Draft' %}
				<p class="list-group-item-text"><span class="label label-warning">{{ term.status.status }}</span></p>
			  {% endif %}
			</div>
		  </div>
		</div>
	  </div><!-- row -->
	  <div class="row">
		<div class="col-md-12">
		  <div class="list-group">
			<div class="list-group-item">
			  <h4 class="list-group-item-heading">Categories</h4>
			  <p class="list-group-item-text">
			  {% for c in term.categories %}
				<span class="label label-default">{{ c.name }}</span>
			  {% endfor %}
			  </p>
			</div>
		  </div>
		</div>
	  </div><!-- row -->
	  <div class="row">
		<div class="col-md-12">
		  <div class="list-group">
			<div class="list-group-item">
			  <h4 class="list-group-item-heading">Links</h4>
			  {% for c in term.links.all() %}
			  <p class="list-group-item-text"><a href="{{ c.address }}">{{ c.text }}</a></p>
			  {% endfor %}
			</div>
		  </div>
		</div>
	  </div><!-- row -->
	  <div class="row">
		<div class="col-md-6">
		  <div class="list-group">
			<div class="list-group-item">
			  <h4 class="list-group-item-heading">Created On</h4>
			  <p class="list-group-item-text">{{ moment(term.created_on).calendar() }}</p>
			</div>
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="list-group">
			<div class="list-group-item">
			  <h4 class="list-group-item-heading">Last Updated</h4>
			  <p class="list-group-item-text">{{ moment(term.created_on).calendar() }}</p>
			</div>
		  </div>
		</div>
	  </div><!-- row -->
	</div><!-- panel body -->
</div><!-- panel -->
{% endblock %}
