{% extends "layout.html" %}

{% block content %}

<div class="page-header">
	<h1>{{ table.name }}</h1>
</div>

<ul class="nav nav-tabs">
	<li class="active"><a href="#">Columns</a></li>
</ul>

<p class="lead"/>

<table class="table">
	<thead>
		<tr>
			<th>Column Name</th>
			<th>Column Type</th>
			<th>Column Length</th>
			<th>Column Format</th>
		</tr>
	</thead>
	<tbody>
		{% for column in columns %}
		<tr>
			<td class="col-md-4">{{ column.name }}</td>
			<td class="col-md-4">{{ column.type }}</td>
			<td class="col-md-2">{{ column.length }}</td>
			<td class="col-md-2">{{ column.format }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</div>

{% endblock %}
